# Python / Django
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
*.sqlite3
staticfiles/
media/
backups/

deploy/https/certs/*.key
deploy/https/certs/*.crt
deploy/https/certs/*.cnf
deploy/https/certs/*.srl
deploy/https/certs/openssl.cnf
!deploy/https/certs/.gitkeep
deploy/https/.env.https

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
deploy/license/private_key.pem
