# requirements.txt this is production
Django>=3.2,<4.0
psycopg2-binary>=2.9.9
django-environ>=0.4.5
pandas>=2.0.3
django-import-export>=4.1.0
openpyxl>=3.1.5
reportlab>=4.0.0
weasyprint>=60.0,<63.0
dj-database-url>=2.1.0
python-dotenv
requests==2.25.1
drf-yasg
djangorestframework-simplejwt
djangorestframework
Pillow>=10.0.0
pypdf>=4.0.0
pytesseract>=0.3.10
pdf2image>=1.17.0
pyotp>=2.9.0
qrcode>=7.4
cryptography>=41.0.0
gunicorn>=21.2.0
