{% load static %}
{# Local Leaflet for offline field visits (CDN fails when PC/hotspot unreachable). #}
{% if map_provider.map_tiles_provider == 'gebeta' and map_provider.gebeta_maps_configured %}
<link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}">
<script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
{# Gebeta GL optional when online; Leaflet always available offline #}
<link rel="stylesheet" href="https://unpkg.com/maplibre-gl@4.7.1/dist/maplibre-gl.css" crossorigin="anonymous">
<script src="https://unpkg.com/maplibre-gl@4.7.1/dist/maplibre-gl.js" crossorigin="anonymous"></script>
{% else %}
<link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}">
<script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
{% endif %}
<script>
window.COLLATERAL_MAP_PROVIDER = {
  geocode: "{{ map_provider.geocode_provider|default:'nominatim'|escapejs }}",
  tiles: "{{ map_provider.map_tiles_provider|default:'leaflet_osm'|escapejs }}",
  gebetaConfigured: {% if map_provider.gebeta_maps_configured %}true{% else %}false{% endif %},
  apiKey: "{{ map_provider.gebeta_maps_api_key|default:''|escapejs }}",
  styles: {
    standard: "{{ map_provider.gebeta_style_standard|default:''|escapejs }}",
    satellite: "{{ map_provider.gebeta_style_satellite|default:''|escapejs }}",
    terrain: "{{ map_provider.gebeta_style_terrain|default:''|escapejs }}"
  },
  docsUrl: "{{ map_provider.gebeta_maps_docs|default:'https://docs.gebeta.app/docs'|escapejs }}"
};
if (window.L && L.Icon && L.Icon.Default) {
  L.Icon.Default.imagePath = "{% static 'vendor/leaflet/images/' %}";
}
</script>
<script src="{% static 'js/collateral_map.js' %}?v=map-offline-1"></script>
