<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Loan System{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Loan System</h1>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }} | <a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
            <p><a href="{% url 'login' %}">Login</a></p>
        {% endif %}
    </header>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated and user.is_superuser %}
            <a href="{% url 'create_user' %}">Add User</a>
        {% endif %}
        <a href="{% url 'create_loan_request' %}">Create Loan Request</a>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
